body {
  font-family: Jost;
}
.display-1 {
  font-family: 'IntegralCF-ExtraBold';
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'IntegralCF-ExtraBold';
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'IntegralCF-ExtraBold';
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #000000 !important;
}
.bg-info {
  background-color: #232323 !important;
}
.bg-warning {
  background-color: #232323 !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #232323 !important;
}
.text-success {
  color: #000000 !important;
}
.text-info {
  color: #232323 !important;
}
.text-warning {
  color: #232323 !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #232323;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #232323;
}
.alert-warning {
  background-color: #232323;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'IntegralCF-ExtraBold';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #232323 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'IntegralCF-ExtraBold';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #232323;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #232323 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tusO75FRIz {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tusO75FRIz nav.navbar {
  position: fixed;
}
.cid-tusO75FRIz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tusO75FRIz .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tusO75FRIz .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tusO75FRIz .dropdown-item:hover,
.cid-tusO75FRIz .dropdown-item:focus {
  background: #232323 !important;
  color: white !important;
}
.cid-tusO75FRIz .dropdown-item:hover span {
  color: white;
}
.cid-tusO75FRIz .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tusO75FRIz .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tusO75FRIz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tusO75FRIz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tusO75FRIz .nav-link {
  position: relative;
}
.cid-tusO75FRIz .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tusO75FRIz .container {
    flex-wrap: nowrap;
  }
}
.cid-tusO75FRIz .iconfont-wrapper {
  color: #232323 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tusO75FRIz .dropdown-menu,
.cid-tusO75FRIz .navbar.opened {
  background: #fafafa !important;
}
.cid-tusO75FRIz .nav-item:focus,
.cid-tusO75FRIz .nav-link:focus {
  outline: none;
}
.cid-tusO75FRIz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tusO75FRIz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tusO75FRIz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tusO75FRIz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tusO75FRIz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tusO75FRIz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tusO75FRIz .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fafafa;
}
.cid-tusO75FRIz .navbar.opened {
  transition: all 0.3s;
}
.cid-tusO75FRIz .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tusO75FRIz .navbar .navbar-logo img {
  width: auto;
}
.cid-tusO75FRIz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tusO75FRIz .navbar.collapsed {
  justify-content: center;
}
.cid-tusO75FRIz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tusO75FRIz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tusO75FRIz .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tusO75FRIz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tusO75FRIz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tusO75FRIz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tusO75FRIz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tusO75FRIz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tusO75FRIz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tusO75FRIz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tusO75FRIz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tusO75FRIz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tusO75FRIz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tusO75FRIz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tusO75FRIz .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tusO75FRIz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tusO75FRIz .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tusO75FRIz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tusO75FRIz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tusO75FRIz .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tusO75FRIz .navbar.navbar-short {
  min-height: 60px;
}
.cid-tusO75FRIz .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tusO75FRIz .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tusO75FRIz .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tusO75FRIz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tusO75FRIz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tusO75FRIz .dropdown-item.active,
.cid-tusO75FRIz .dropdown-item:active {
  background-color: transparent;
}
.cid-tusO75FRIz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tusO75FRIz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tusO75FRIz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tusO75FRIz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-tusO75FRIz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tusO75FRIz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tusO75FRIz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tusO75FRIz .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tusO75FRIz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tusO75FRIz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-tusO75FRIz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tusO75FRIz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tusO75FRIz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tusO75FRIz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tusO75FRIz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tusO75FRIz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tusO75FRIz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tusO75FRIz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tusO75FRIz .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tusO75FRIz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tusO75FRIz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tusO75FRIz .navbar {
    height: 70px;
  }
  .cid-tusO75FRIz .navbar.opened {
    height: auto;
  }
  .cid-tusO75FRIz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tuG20HDkPu {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/recurso-15-2000x1545.jpg");
}
.cid-tuG20HDkPu .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tuG20HDkPu .image-wrap img {
    display: block;
    margin: auto;
    width: 30%;
  }
}
.cid-tuG20HDkPu .mbr-text,
.cid-tuG20HDkPu .mbr-section-btn {
  color: #232323;
}
.cid-tuG20HDkPu .mbr-section-title {
  color: #232323;
}
.cid-tuG7Er9DVg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/recurso-15-2000x1545.jpg");
}
.cid-tuG7Er9DVg .nav-tabs .nav-item.open .nav-link:focus,
.cid-tuG7Er9DVg .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tuG7Er9DVg .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-tuG7Er9DVg .nav-tabs .nav-item {
  padding: .5rem;
}
.cid-tuG7Er9DVg .nav-tabs .nav-link {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #000000;
  transition: all .5s;
}
.cid-tuG7Er9DVg .nav-tabs .nav-link:hover {
  cursor: pointer;
  background-color: #232323;
}
.cid-tuG7Er9DVg .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background-color: #232323;
  border-color: #232323;
}
.cid-tuG7Er9DVg .nav-tabs .nav-link.active:hover {
  background-color: #232323;
}
.cid-tuG7Er9DVg p {
  color: #ffffff;
}
.cid-tuG7Er9DVg .mbr-text {
  text-align: center;
}
.cid-tuG7Er9DVg P {
  text-align: right;
  color: #232323;
}
.cid-tuFGNieqj3 {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuFGNieqj3 .mbr-section-title {
  color: #ffffff;
}
.cid-tuFGNieqj3 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuGmt58kYk {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuGmt58kYk .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuGmt58kYk .row {
  flex-direction: row-reverse;
}
.cid-tuGmt58kYk img {
  width: 100%;
}
.cid-tuGmt58kYk .mbr-description {
  color: #353535;
  text-align: center;
}
.cid-tuGpcxPMPz {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tuGpcxPMPz .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tuGpcxPMPz .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tuGpcxPMPz .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tuEZyPoUVq {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuEZyPoUVq .mbr-section-title {
  color: #ffffff;
}
.cid-tuEZyPoUVq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuEIj58d7s {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuEIj58d7s .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tuEIj58d7s .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-tuEIj58d7s .mbr-text,
.cid-tuEIj58d7s .mbr-section-btn {
  text-align: center;
}
.cid-tuEIj58d7s .mbr-section-title {
  text-align: center;
}
.cid-tuEHwiege1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #003893;
}
.cid-tuEHwiege1 .mbr-section-title {
  color: #ffffff;
}
.cid-tuEH9PJVLq {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tuEH9PJVLq .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tuEH9PJVLq .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tuEH9PJVLq .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tuEKf9KCOU {
  padding-top: 0rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tuEKf9KCOU .video-wrapper iframe {
  width: 100%;
}
.cid-tuEKf9KCOU .mbr-section-title,
.cid-tuEKf9KCOU .mbr-section-subtitle,
.cid-tuEKf9KCOU .mbr-text {
  text-align: center;
}
.cid-tuEZJ4dya3 {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuEZJ4dya3 .mbr-section-title {
  color: #ffffff;
}
.cid-tuEZJ4dya3 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuEYPelKao {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuEYPelKao .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuEYPelKao .row {
  flex-direction: row-reverse;
}
.cid-tuEYPelKao img {
  width: 100%;
}
.cid-tuEYrJPtW2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuEYrJPtW2 img,
.cid-tuEYrJPtW2 .item-img {
  width: 100%;
}
.cid-tuEYrJPtW2 .item:focus,
.cid-tuEYrJPtW2 span:focus {
  outline: none;
}
.cid-tuEYrJPtW2 .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tuEYrJPtW2 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tuEYrJPtW2 .item {
  padding: 0;
  margin: 0;
}
.cid-tuEYrJPtW2 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tuEYrJPtW2 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tuEYrJPtW2 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tuEYrJPtW2 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tuEYrJPtW2 .mbr-section-title {
  color: #232323;
}
.cid-tuEZ5Dp10M {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuEZ5Dp10M .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuEZ5Dp10M .row {
  flex-direction: row-reverse;
}
.cid-tuEZ5Dp10M img {
  width: 100%;
}
.cid-tuFw7mKOmt {
  padding-top: 0rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tuFw7mKOmt .video-wrapper iframe {
  width: 100%;
}
.cid-tuFw7mKOmt .mbr-section-title,
.cid-tuFw7mKOmt .mbr-section-subtitle,
.cid-tuFw7mKOmt .mbr-text {
  text-align: center;
}
.cid-tuFa3VyyET {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuFa3VyyET .mbr-section-title {
  color: #ffffff;
}
.cid-tuFa3VyyET .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuFsjE4h2S {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuFsjE4h2S .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tuFsjE4h2S .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-tuFmT7qbS8 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #e4003f;
}
.cid-tuFmT7qbS8 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tuFmT7qbS8 .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-tuFrPk1L5d {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tuFrPk1L5d .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tuFrPk1L5d .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tuFrPk1L5d .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tuFzsmxeaX {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuFzsmxeaX .mbr-section-title {
  color: #ffffff;
}
.cid-tuFzsmxeaX .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuFDMOX9Hr {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuFDMOX9Hr .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuFDMOX9Hr .row {
  flex-direction: row-reverse;
}
.cid-tuFDMOX9Hr img {
  width: 100%;
}
.cid-tuFDNRzeI9 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuFDNRzeI9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuFDNRzeI9 .row {
  flex-direction: row-reverse;
}
.cid-tuFDNRzeI9 img {
  width: 100%;
}
.cid-tuFaznLK2Y {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuFaznLK2Y .mbr-section-title {
  color: #ffffff;
}
.cid-tuFaznLK2Y .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuFdc6Y9L5 {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tuFdc6Y9L5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tuFdc6Y9L5 .row {
  flex-direction: row-reverse;
}
.cid-tuFdc6Y9L5 img {
  width: 100%;
}
.cid-tuFbogqOg9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tuFbogqOg9 img,
.cid-tuFbogqOg9 .item-img {
  width: 100%;
}
.cid-tuFbogqOg9 .item:focus,
.cid-tuFbogqOg9 span:focus {
  outline: none;
}
.cid-tuFbogqOg9 .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tuFbogqOg9 .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tuFbogqOg9 .item {
  padding: 0;
  margin: 0;
}
.cid-tuFbogqOg9 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tuFbogqOg9 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tuFbogqOg9 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tuFbogqOg9 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tuFbogqOg9 .mbr-section-title {
  color: #232323;
}
.cid-tuFt9wQlPN {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tuFt9wQlPN .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tuFt9wQlPN .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tuFt9wQlPN .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tuF2mNfz4A {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tuF2mNfz4A .mbr-section-title {
  color: #ffffff;
}
.cid-tuF2mNfz4A .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tuFwp3Vrpu {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tuFwp3Vrpu .row {
  align-items: stretch;
  justify-content: center;
}
.cid-tuFwp3Vrpu .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-tuFwp3Vrpu .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-tusPmeuF3F {
  padding-top: 0rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tusPmeuF3F .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tusPmeuF3F .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-tusPmeuF3F .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-tusPmeuF3F .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tusPmeuF3F .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tusPmeuF3F .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tusPmeuF3F .carousel-control,
.cid-tusPmeuF3F .close {
  background: #1b1b1b;
}
.cid-tusPmeuF3F .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tusPmeuF3F .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tusPmeuF3F .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tusPmeuF3F .carousel-control-next span {
  margin-left: 5px;
}
.cid-tusPmeuF3F .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tusPmeuF3F .close::before {
  content: '\e91a';
}
.cid-tusPmeuF3F .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tusPmeuF3F .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tusPmeuF3F .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tusPmeuF3F .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tusPmeuF3F .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tusPmeuF3F .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tusPmeuF3F .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tusPmeuF3F .carousel-indicators li.active,
.cid-tusPmeuF3F .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tusPmeuF3F .carousel-indicators li::after,
.cid-tusPmeuF3F .carousel-indicators li::before {
  content: none;
}
.cid-tusPmeuF3F .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tusPmeuF3F .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tusPmeuF3F .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tusPmeuF3F .carousel-indicators {
    display: none;
  }
}
.cid-tusPmeuF3F .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tusPmeuF3F .carousel-inner > .active {
  display: block;
}
.cid-tusPmeuF3F .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tusPmeuF3F .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tusPmeuF3F .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tusPmeuF3F .carousel-control,
  .cid-tusPmeuF3F .carousel-indicators,
  .cid-tusPmeuF3F .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tusPmeuF3F .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tusPmeuF3F .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tusPmeuF3F .carousel-indicators .active,
.cid-tusPmeuF3F .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tusPmeuF3F .carousel-indicators .active {
  background: #fff;
}
.cid-tusPmeuF3F .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tusPmeuF3F .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tusPmeuF3F .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tusPmeuF3F .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tusPmeuF3F .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tusPmeuF3F .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tusPmeuF3F .carousel {
  width: 100%;
}
.cid-tusPmeuF3F .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tusPmeuF3F .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tusPmeuF3F .modal.fade .modal-dialog,
.cid-tusPmeuF3F .modal.in .modal-dialog {
  transform: none;
}
.cid-tusPmeuF3F .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tusPmeuF3F H6 {
  text-align: center;
}
.cid-tuFFU5rRSW {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-tuFFU5rRSW .media-container-row {
  justify-content: space-between;
}
.cid-tuFFU5rRSW .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-tuFFU5rRSW .text-content {
    max-width: none;
  }
}
.cid-tuFFU5rRSW .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tuFFU5rRSW .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-tuFFU5rRSW .mbr-iconfont-social:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 768px) {
  .cid-tuFFU5rRSW .icons {
    justify-content: center !important;
  }
  .cid-tuFFU5rRSW .text-content * {
    text-align: center;
  }
}
.cid-tuFFU5rRSW .mbr-section-title {
  color: #ffffff;
}
.cid-tuFFU5rRSW P {
  color: #ffffff;
}
