@font-face {
   font-family: 'IntegralCF-ExtraBold';
   font-display: swap;
   src: url('file:///Users/cesarleytoargandona/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-01-30_160811/fonts/IntegralCF-ExtraBold/font.woff');
}
